<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome to 101</h1>
    <p class="lead">Kick start your learning by creating come content, or viewing some made by others!</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../../assets/images/Flashcard.PNG" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Flashcards</h5>
          <p class="card-text">Memorize with your eyes. Create flashcard sets and view those made by others.</p>
          <a routerLink="flashcards/view" class="btn btn-primary">Speed up with the Flash...cards</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Quizes</h5>
          <p class="card-text">Train your brain. challenge your self to a quick quiz to test how far you've come! Or, create your own quizical multiple choice challenge.</p>
          <a href="#" class="btn btn-primary">Pop a Quiz</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="..." alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Posts</h5>
          <p class="card-text">Sharing is caring. Share what you've learned with others. Post an article, start a discussion, or share other contetnt from 101.</p>
          <a href="#" class="btn btn-primary">Post Haste</a>
        </div>
      </div>
    </div>
  </div>
</div>