<input type="text" [(ngModel)]="titleFilter" placeholder="title">
<input type="text" [(ngModel)]="authorFilter" placeholder="author">
<input type="text" [(ngModel)]="subjectFilter" placeholder="subject">
<button class="btn" (click)="getUserSets()">Report</button>

<table class="table">
  <thead>
    <tr>
      <th scope="cole">
        Title
        <button class="btn" (click)="sort('title')">Asc</button>
        <button class="btn" (click)="sort('-title')">Desc</button>
      </th>
      <th scope="cole">
        Subject
        <button class="btn" (click)="sortArray(sortBySubject, 'subjectName')">Asc</button>
        <button class="btn" (click)="sortArray(sortBySubject, '-subjectName')">Desc</button>
      </th>
      <th scope="cole">
        Author
        <button class="btn" (click)="sortArray(sortByAuthor, 'username')">Asc</button>
        <button class="btn" (click)="sortArray(sortByAuthor, '-username')">Desc</button>
      </th>
      <th scope="cole">
        Likes
        <button class="btn" (click)="sort('likes')">Asc</button>
        <button class="btn" (click)="sort('-likes')">Desc</button>
      </th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of (sets | filter:'title':titleFilter | setAuthor:authorFilter | setSubject:subjectFilter)" (click)="view(s)">
      <td>{{ s.title }}</td>
      <td>{{ s.subject.subjectName }}</td>
      <td>{{ s.author.username }}</td>
      <td>{{ s.likes }}</td>
    </tr>
  </tbody>
</table>