<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>The 101 Website</title>
</head>

<body class="text-center">
  <form class="form-signin" (ngSubmit)="login()">
    <img src="https://d3544la1u8djza.cloudfront.net/APHI/101page/101.gif">
    <h1 class="h3 mb-3 font-weight-normal">Welcome to the 101 website!</h1>
    <label for="inputUsername" class="sr-only">Username</label>
    <input type="text" name="username" [(ngModel)]="credential.username" id="inputUsername" class="form-control" placeholder="User name"
      required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" name="password" [(ngModel)]="credential.password" id="inputPassword" class="form-control" placeholder="Password"
      required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
  </form>
</body>

</html>