<div id="container">
    <div class="row" id="create">
        <div class="col"></div>
        <div class="col" id="title">
          <h3>Add A New Subject</h3>
        </div>
        <div class="col"></div>
      </div>
      <div class="col"></div>
  </div>

<form class="form-inline"(ngSubmit)="addSubject()" >
  <div class="form-group"  id="area">
    <label for="exampleTextarea">Enter the name of a subject</label>
    <input type="text"  name="subject" [(ngModel)]="newSub.subjectName"  class="form-control mb-2 mr-sm-2 mb-sm-0" id="inlineFormInput" placeholder="Subject">
  </div>
  <button type="submit" value="Append" class="btn btn-primary">Submit</button>
</form>
