<form (ngSubmit)="addNewSet(newSet)">
  <input type="text" name="title" [(ngModel)]="newSet.title" placeholder="Set Title">
  <!-- <button class="btn btn-primary" type="submit" *ngIf="newSet.title !== '' && newSet.subject.id !== 0">Submit</button> -->
  <button class="btn btn-primary" type="submit" [disabled]="checkSubmit()">Submit</button>
  <select [(ngModel)]="newSet.subject" name="subjectId" class="form-control">
    <option *ngFor="let s of (subjects)" [ngValue]="s">{{ s.subjectName }}</option>
  </select>
  <br>
  <button class="btn btn" (click)="addNewFlashcard()" type="button">+ New Flashcard</button>
  <button class="btn btn" (click)="removeNewFlashcard()" type="button">- Flashcard</button>
  <div name="flashcards" *ngFor="let f of newFlashcards">
    <input type="text" name="question" [(ngModel)]="f.question" [(value)]="f.question">
    <input type="text" name="answer" [(ngModel)]="f.answer" [(value)]="f.answer">
  </div>
</form>