<div class="container">
  <div class="row">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      <form (ngSubmit)="addNewSet()">
        <div id="create">
            <h3>Create a Flashcard Set</h3>
        </div>
        <div id="create">
          <input type="text" name="title" [(ngModel)]="newSet.title" placeholder="Set Title">
          <button class="btn btn-primary" type="submit" [disabled]="checkSubmit()">Submit</button>
        </div>
        <div id="create">
          <select [(ngModel)]="newSet.subject" name="subjectId" class="form-control">
            <option *ngFor="let s of (subjects)" [ngValue]="s">{{ s.subjectName }}</option>
          </select>
        </div>
        <div id="create">
          <button class="btn btn" (click)="addNewFlashcard()" type="button">+ New Flashcard</button>
          <button class="btn btn" (click)="removeNewFlashcard()" type="button">- Flashcard</button>
        </div>
      </form>
    </div>
    <div class="col-sm">
    </div>
  </div>
  <div id="create" class="row" *ngFor="let f of newFlashcards">
    <div class="col-sm">
    </div>
    <div class="col-sm">
      Q:
      <input type="text" name="question" [(ngModel)]="f.question" [(value)]="f.question">
    </div>
    <div class="col-sm">
      A:
      <input type="text" name="answer" [(ngModel)]="f.answer" [(value)]="f.answer">
    </div>
    <div class="col-sm">
    </div>
  </div>
</div>