<form (ngSubmit)="updateSet(set)">
  <input type="text" name="title" [(ngModel)]="set.title" placeholder="Set Title">
  <!-- <button class="btn btn-primary" type="submit" *ngIf="newSet.title !== '' && newSet.subject.id !== 0">Submit</button> -->
  <button class="btn btn-primary" type="submit" [disabled]="checkSubmit()">Submit</button>
  <button class="btn btn-danger" *ngIf="userId === authorId" (click)="delete()">Delete Set</button>
  <p>Curret subject: {{ set.subject.subjectName }}</p>
  <select [(ngModel)]="set.subject" name="subjectId" class="form-control">
    <option *ngFor="let s of (subjects)" [ngValue]="s">{{ s.subjectName }}</option>
  </select>
  <h4>Current Flashcards</h4>
  <table class="table">
    <thead>
      <tr>
        <th scope="cole">
          Quesiton
        </th>
        <th scope="cole">
          Answer
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let f of flashcards">
        <td>{{ f.question }}</td>
        <td>{{ f.answer }}</td>
        <td>
          <button class="btn btn-warning" *ngIf="userId === authorId" (click)="deleteFc(f.flashcardId)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
  <br>
  <button class="btn btn" (click)="addNewFlashcard()" type="button">+ New Flashcard</button>
  <button class="btn btn" (click)="removeNewFlashcard()" type="button">- Flashcard</button>
  <div name="newFlashcards" *ngFor="let f of newFlashcards">
    <input type="text" name="question" [(ngModel)]="f.question" [(value)]="f.question">
    <input type="text" name="answer" [(ngModel)]="f.answer" [(value)]="f.answer">
  </div>
</form>